@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid rgb(47, 42, 42);
    border-top: 10px solid white; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    margin:120px auto;
    margin-bottom:180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }